[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Tiny Tiny RSS
Icon=harbour-ttrss-cnlpete
Exec=harbour-ttrss-cnlpete

[X-HarbourBackup]
BackupPathList=.config/harbour-ttrss-cnlpete/

[X-Sailjail]
Permissions=Internet;WebView
OrganizationName=de.cnlpete
ApplicationName=ttrss
